{% extends'base.html.twig' %}

{%  block title 'contact' %}

{% block body %}

    <body class="host_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="images/logo/logo-fstg.png" style="width: 200px" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Presentation </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{ path('about') }}">FSTG en bref </a>
                                <a class="dropdown-item" href="{{ path('motDoyen') }}">Mot du doyen </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Formation </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="#">TC </a>
                                <a class="dropdown-item" href="#">LST </a>
                                <a class="dropdown-item" href="#">Cycle </a>
                                <a class="dropdown-item" href="#">M </a>
                                <a class="dropdown-item" href="#">PHD </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Annonces </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 1}) }}">Administration </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 2}) }}">Etudiant </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 3}) }}">Manifestation </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 4}) }}">Para-universitaire </a>
                            </div>
                        </li>
                        <li class="nav-item active"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <div class="all-title-box" style="background-image: url('images/logo/banner.jpg')">
        <div class="container text-center">
            <h1>Contactez nous<span class="m_1"></span></h1>
        </div>
    </div>

    <div id="contact" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Need Help?!</h3>
                <p class="lead">Please fill out the form below. <br></p>
            </div><!-- end title -->

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-xl-6 col-md-12 col-sm-12">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactform" class="" name="contactform">
                            <div class="row row-fluid">
                                {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-md-6" style="color: whitesmoke; font-size: 18px">{{ form_row(form.nom) }}</div>
                                    <div class="col-md-6" style="color: whitesmoke; font-size: 18px">{{ form_row(form.prenom) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="color: whitesmoke; font-size: 18px">{{ form_row(form.email) }}</div>
                                    <div class="col-md-3" style="color: whitesmoke; font-size: 18px">{{ form_row(form.numero) }}</div>
                                    <div class="col-md-3" style="color: whitesmoke; font-size: 18px">{{ form_row(form.code) }}</div>
                                </div>
                                <div class="col-md-12" style="color: whitesmoke; font-size: 18px">{{ form_row(form.message) }}</div>
                                {{ form_rest(form) }}
                                <div class="text-center pd">
                                    <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Envoyer</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </form>
                    </div>
                </div><!-- end col -->
                <div class="col-xl-6 col-md-12 col-sm-12">
                    <div class="map-box">
                        <div id="custom-places" class="small-map"></div>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->



    </body>
    </html>


{% endblock %}