{% extends'base.html.twig' %}

{%  block title 'Accueil' %}

{% block body %}

    <body class="host_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="images/logo/logo-fstg.png" style="width: 200px" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Presentation </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{ path('about') }}">FSTG en bref </a>
                                <a class="dropdown-item" href="{{ path('motDoyen') }}">Mot du doyen </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Formation </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 1}) }}">TC </a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 2}) }}">LST </a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 3}) }}">Cycle </a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 4}) }}">M </a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 5}) }}">PHD </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Annonces </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 1}) }}">Administration </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 2}) }}">Etudiant </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 3}) }}">Manifestation </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 4}) }}">Para-universitaire </a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <div class="row" style="background-color: #f0f5ff">
        <div class="col-md-2">
            <p>Welcome</p>
            <hr class="invis">
        </div>
        <div class="col-md-10">
            <div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" style="height: 400px; margin-right: 10%;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                    <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div id="home" class="first-section" style="background-image:
                        {% if annonces[0].filename %}
                                url({{ vich_uploader_asset(annonces[0], 'imageFile') | imagine_filter('large') }});
                        {% else %}
                                url('/images/annonces/empty.png');
                {% endif %}">
                            <div class="dtab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-right">
                                            <div class="big-tagline">
                                                <h2><strong>{{ annonces[0].titre}} </strong> {{ annonces[0].categorieType}}</h2>
                                                <p class="lead">{{ annonces[0].description | u.truncate(50, '…')}} </p>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="{{ path('annonce.show', {id: annonces[0].id, slug: annonces[0].slug}) }}" class="hover-btn-new"><span>Read More</span></a>
                                            </div>
                                        </div>
                                    </div><!-- end row -->
                                </div><!-- end container -->
                            </div>
                        </div><!-- end section -->
                    </div>
                    <div class="carousel-item">
                        <div id="home" class="first-section" style="background-image:
                        {% if annonces[1].filename %}
                                url({{ vich_uploader_asset(annonces[1], 'imageFile') | imagine_filter('large') }});
                        {% else %}
                                url('/images/annonces/empty.png');
                {% endif %}">
                            <div class="dtab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-left">
                                            <div class="big-tagline">
                                                <h2 data-animation="animated zoomInRight">{{ annonces[1].titre}} <strong>{{ annonces[1].categorieType}}</strong></h2>
                                                <p class="lead" data-animation="animated fadeInLeft">{{ annonces[1].description | u.truncate(50, '…')}} </p>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="{{ path('annonce.show', {id: annonces[1].id, slug: annonces[1].slug}) }}" class="hover-btn-new"><span>Read More</span></a>
                                            </div>
                                        </div>
                                    </div><!-- end row -->
                                </div><!-- end container -->
                            </div>
                        </div><!-- end section -->
                    </div>
                    <div class="carousel-item">
                        <div id="home" class="first-section" style="background-image:
                        {% if annonces[2].filename %}
                                url({{ vich_uploader_asset(annonces[2], 'imageFile') | imagine_filter('large') }});
                        {% else %}
                                url('/images/annonces/empty.png');
                {% endif %}">
                            <div class="dtab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-center">
                                            <div class="big-tagline">
                                                <h2 data-animation="animated zoomInRight"><strong>{{ annonces[2].titre}}</strong> {{ annonces[2].categorieType}}</h2>
                                                <p class="lead" data-animation="animated fadeInLeft">{{ annonces[2].description | u.truncate(50, '…')}}</p>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="{{ path('annonce.show', {id: annonces[2].id, slug: annonces[2].slug}) }}" class="hover-btn-new"><span>Read More</span></a>
                                            </div>
                                        </div>
                                    </div><!-- end row -->
                                </div><!-- end container -->
                            </div>
                        </div><!-- end section -->
                    </div>
                    <!-- Left Control -->
                    <a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <!-- Right Control -->
                    <a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <hr class="invis">
        </div>
    </div>

    <div id="overviews" class="section wb">
        <div class="container">
            <div style="background-color: #f2f3f5;">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h3>About</h3>
                        <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
                    </div>
                </div><!-- end title -->
            </div>



            <div class="message-box">
                <h4>Administration</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last1 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>


            <div class="message-box">
                <h4>Etudiant</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last2 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>


            <div class="message-box">
                <h4>Manifestation</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last3 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>


            <div class="message-box">
                <h4>Para-universitaire</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last4 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>
        </div><!-- end container -->
    </div><!-- end section -->

    <!-- old timeline -->


        <div id="container">
            <style>
                *{margin: 0;padding: 0;}
                body {
                    background: #ddd;
                }

                #container
                {
                    height: 300px;
                    width: 100%;
                    background-color: #ddd;
                    overflow: hidden;
                    position: relative;
                    #overflow-x: scroll;
                    margin-top: 30px;
                    display: inline-block;
                }

                #thumbs
                {
                    background-color: #ddd;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: auto;
                    overflow: hidden;
                    white-space: nowrap;
                    padding: 30px 100px;
                }

                .history-block {
                    height: 100%;
                    width: 300px;
                    background-color: #cdcdcd;
                    margin: 0 -2px;
                    border-right: 1px solid #fff;
                    display: inline-block;
                    font-family: 'roboto condensed', sans-serif;
                    font-size:60px;
                    font-weight: 100;
                    color: #FFF;
                    cursor: pointer;
                    box-shadow: 2px 5px 20px rgba(0,0,0,0.8);
                    transition: width 0.2s;
                }

                .history-block:last-of-type {
                    border-right: none;
                }

                .cover {
                    width: 100%;
                    height: 100%;
                    transition: background .5s;
                    background: rgba(0,0,0,0.8);
                }

                .cover:hover {
                    width: 100%;
                    height: 100%;
                    transition: background .5s;
                    background: rgba(0,0,0,0.8);
                }

                .year {
                    position: absolute;
                    top: 0px;
                    font-size: 30px;
                    font-weight:500;
                    margin: 40px 30px;
                }

                .title {
                    position: absolute;
                    display: block;
                    width: 260px;
                    top: 60px;
                    font-size: 15px;
                    margin: 30px;
                    white-space: normal;
                    transition: width 0.2s;
                }

                .timeline {
                    display:none;
                    position: absolute;
                    bottom: 80px;
                    font-size: 20px;
                    margin: 20px;
                    transition: display 0.8s;
                }

                .timeline ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    text-align: center;
                }

                .timeline ul li {
                    display: inline;
                    font-size: 15px;
                    font-weight: 100;
                    padding: 0px 5px;
                }

                .timeline ul li {
                    display: inline;
                    font-size: 15px;
                    font-weight: 100;
                    padding: 0px 5px;
                }

                .timeline ul li:before {
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    color: rgba(255,255,255,0.5);
                    content: '\f10c';
                    position: absolute;
                    top: 30px;
                    margin-left:10px;
                    transition: all 0.5s;
                }

                .timeline ul li:after {
                    content: '';
                    position: absolute;
                    top: 40px;
                    margin-left:-10px;
                    width: 36px;
                    height:2px;
                    border: 1px solid rgba(255,255,255,0.5);
                    transition: all 0.5s;
                }

                .timelineYear, .timelineYear:hover {
                    text-decoration: none;
                    color: #fff;
                    transition: all 0.8s;
                }

                .timeline ul li:hover:before {
                    content: '\f111';
                    color: #ffffff;
                    font-size: 18px;
                    transition: all 0.5s;
                    top: 29px;
                    margin-left:9px
                }

                .timeline ul li:hover:after {
                    content: '';
                    position: absolute;
                    top: 40px;
                    margin-left:-10px;
                    width: 36px;
                    height:2px;
                    border: 1px solid #fff;
                    transition: all 0.5s;
                }

                .timeline ul li:hover .timelineYear {
                    position: static;
                    top:-10px;
                }

                .bg-66 {
                    background: url('images/logo/logo-fstg.png');
                    background-size:cover;
                }

                .bg-76 {
                    background: url(http://austria-forum.org/attach/Wissenssammlungen/Bibliothek/Wien_mit_den_Augen_des_Adlers/Wien_der_Moderne/UNO-City,_Austria_Center_Vienna/dkaiser_hav_25.jpg);
                    background-size:cover;
                }

                .bg-86 {
                    background: url('https://upload.wikimedia.org/wikipedia/commons/e/e8/Power_Plant_(Tianjin,_China).jpg');
                    background-size:cover;
                }

                .bg-96 {
                    background: url(http://www.oxfordbusinessgroup.com/sites/default/files/styles/chapter_header__710x233_/public/chapter_headers/ind1_2.png?itok=uxI_081i&c=af7608f5f35cf219c326e9b6e6a7d34c);
                    background-size:cover;
                }

                .bg-06 {
                    background: url(http://www.3adi.org/tl_files/3ADIDocuments/Pictures/Greenshot_2014-01-08_18-32-54.jpg);
                    background-size:cover;
                }

                .bg-16 {
                    background: url(https://i.dailymail.co.uk/i/pix/2012/07/23/article-0-142DF918000005DC-387_468x665.jpg);
                    background-size:cover;
                }
            </style>
            <div id="thumbs">
                <div class="history-block bg-66">
                    <div class="cover"></div>
                    <div class="year">1966 - 1976</div>
                    <div class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</div>
                    <div class="timeline">
                        <ul>
                            <li><a href="" class="timelineYear">1966</a></li>
                            <li><a href="" class="timelineYear">1967</a></li>
                            <li><a href="" class="timelineYear">1968</a></li>
                            <li><a href="" class="timelineYear">1969</a></li>
                            <li><a href="" class="timelineYear">1970</a></li>
                            <li><a href="" class="timelineYear">1971</a></li>
                            <li><a href="" class="timelineYear">1972</a></li>
                            <li><a href="" class="timelineYear">1973</a></li>
                            <li><a href="" class="timelineYear">1974</a></li>
                            <li><a href="" class="timelineYear">1975</a></li>
                            <li><a href="" class="timelineYear">1976</a></li>
                        </ul>
                    </div>
                </div>
                <div class="history-block bg-76">
                    <div class="cover"></div>
                    <div class="year">1976 - 1986</div>
                    <div class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</div>
                    <div class="timeline">
                        <ul>
                            <li><a href="" class="timelineYear">1976</a></li>
                            <li><a href="" class="timelineYear">1977</a></li>
                            <li><a href="" class="timelineYear">1978</a></li>
                            <li><a href="" class="timelineYear">1979</a></li>
                            <li><a href="" class="timelineYear">1980</a></li>
                            <li><a href="" class="timelineYear">1981</a></li>
                            <li><a href="" class="timelineYear">1982</a></li>
                            <li><a href="" class="timelineYear">1983</a></li>
                            <li><a href="" class="timelineYear">1984</a></li>
                            <li><a href="" class="timelineYear">1985</a></li>
                            <li><a href="" class="timelineYear">1986</a></li>
                        </ul>
                    </div>
                </div>
                <div class="history-block bg-86">
                    <div class="cover"></div>
                    <div class="year">1986 - 1996</div>
                    <div class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</div>
                    <div class="timeline">
                        <ul>
                            <li><a href="" class="timelineYear">1986</a></li>
                            <li><a href="" class="timelineYear">1987</a></li>
                            <li><a href="" class="timelineYear">1988</a></li>
                            <li><a href="" class="timelineYear">1989</a></li>
                            <li><a href="" class="timelineYear">1990</a></li>
                            <li><a href="" class="timelineYear">1991</a></li>
                            <li><a href="" class="timelineYear">1992</a></li>
                            <li><a href="" class="timelineYear">1993</a></li>
                            <li><a href="" class="timelineYear">1994</a></li>
                            <li><a href="" class="timelineYear">1995</a></li>
                            <li><a href="" class="timelineYear">1996</a></li>
                        </ul>
                    </div>
                </div>
                <div class="history-block bg-96">
                    <div class="cover"></div>
                    <div class="year">1996 - 2006</div>
                    <div class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</div>
                    <div class="timeline">
                        <ul>
                            <li><a href="" class="timelineYear">1996</a></li>
                            <li><a href="" class="timelineYear">1997</a></li>
                            <li><a href="" class="timelineYear">1998</a></li>
                            <li><a href="" class="timelineYear">1999</a></li>
                            <li><a href="" class="timelineYear">2000</a></li>
                            <li><a href="" class="timelineYear">2001</a></li>
                            <li><a href="" class="timelineYear">2002</a></li>
                            <li><a href="" class="timelineYear">2003</a></li>
                            <li><a href="" class="timelineYear">2004</a></li>
                            <li><a href="" class="timelineYear">2005</a></li>
                            <li><a href="" class="timelineYear">2006</a></li>
                        </ul>
                    </div>
                </div>
                <div class="history-block bg-06">
                    <div class="cover"></div>
                    <div class="year">2006-2016</div>
                    <div class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</div>
                    <div class="timeline">
                        <ul>
                            <li><a href="" class="timelineYear">2006</a></li>
                            <li><a href="" class="timelineYear">2007</a></li>
                            <li><a href="" class="timelineYear">2008</a></li>
                            <li><a href="" class="timelineYear">2009</a></li>
                            <li><a href="" class="timelineYear">2010</a></li>
                            <li><a href="" class="timelineYear">2011</a></li>
                            <li><a href="" class="timelineYear">2012</a></li>
                            <li><a href="" class="timelineYear">2013</a></li>
                            <li><a href="" class="timelineYear">2014</a></li>
                            <li><a href="" class="timelineYear">2015</a></li>
                            <li><a href="" class="timelineYear">2016</a></li>
                        </ul>
                    </div>
                </div>
                <div class="history-block bg-16">
                    <div class="cover"></div>
                    <div class="year">FUTURE</div>
                    <div class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</div>
                    <div class="timeline">
                        To our bright future!!! :)
                    </div>
                </div>
            </div>
        </div>






    <div class="section cl">
        <div class="container">
            <div class="row text-left stat-wrap">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-study"></i></span>
                    <p class="stat_count">12000</p>
                    <h3>Etudiants</h3>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-online"></i></span>
                    <p class="stat_count">240</p>
                    <h3>Filieres</h3>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-years"></i></span>
                    <p class="stat_count">55</p>
                    <h3>Ans</h3>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}