{% extends'base.html.twig' %}

{%  block title 'Accueil' %}

{% block body %}

    <body class="host_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="images/logo/test1.png" style="width: 200px" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Presentation </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{ path('about') }}">FSTG en bref </a>
                                <a class="dropdown-item" href="{{ path('motDoyen') }}">Mot du doyen </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Formations </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 1}) }}">Tronc Commun</a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 2}) }}">LST</a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 3}) }}">Cycle d'ingenieur</a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 4}) }}">Master</a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 5}) }}">Doctorat</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Annonces </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 1}) }}">Administration </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 2}) }}">Etudiant </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 3}) }}">Manifestation </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 4}) }}">Para-universitaire </a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <div class="row" style="background-color: #f0f5ff">
        <div class="col-md-3">
            <img src="images/logo/logo-fstg5.png" style="margin-left: 50px; margin-top: 30px; width: 250px;">
            <hr class="invis">
        </div>
        <div class="col-md-9">
            <div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" style="height: 400px; margin-right: 5%;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                    <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div id="home" class="first-section" style="background-image:
                        {% if annonces[0].filename %}
                                url({{ vich_uploader_asset(annonces[0], 'imageFile') | imagine_filter('large') }});
                        {% else %}
                                url('/images/annonces/empty.png');
                        {% endif %}">
                            <div class="dtab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-right">
                                            <div class="big-tagline">
                                                <h2><strong>{{ annonces[0].titre}} </strong> {{ annonces[0].categorieType}}</h2>
                                                <p class="lead">{{ annonces[0].description | u.truncate(50, '…')}} </p>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="{{ path('annonce.show', {id: annonces[0].id, slug: annonces[0].slug}) }}" class="hover-btn-new"><span>Read More</span></a>
                                            </div>
                                        </div>
                                    </div><!-- end row -->
                                </div><!-- end container -->
                            </div>
                        </div><!-- end section -->
                    </div>
                    <div class="carousel-item">
                        <div id="home" class="first-section" style="background-image:
                        {% if annonces[1].filename %}
                                url({{ vich_uploader_asset(annonces[1], 'imageFile') | imagine_filter('large') }});
                        {% else %}
                                url('/images/annonces/empty.png');
                {% endif %}">
                            <div class="dtab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-left">
                                            <div class="big-tagline">
                                                <h2 data-animation="animated zoomInRight">{{ annonces[1].titre}} <strong>{{ annonces[1].categorieType}}</strong></h2>
                                                <p class="lead" data-animation="animated fadeInLeft">{{ annonces[1].description | u.truncate(50, '…')}} </p>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="{{ path('annonce.show', {id: annonces[1].id, slug: annonces[1].slug}) }}" class="hover-btn-new"><span>Read More</span></a>
                                            </div>
                                        </div>
                                    </div><!-- end row -->
                                </div><!-- end container -->
                            </div>
                        </div><!-- end section -->
                    </div>
                    <div class="carousel-item">
                        <div id="home" class="first-section" style="background-image:
                        {% if annonces[2].filename %}
                                url({{ vich_uploader_asset(annonces[2], 'imageFile') | imagine_filter('large') }});
                        {% else %}
                                url('/images/annonces/empty.png');
                {% endif %}">
                            <div class="dtab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-center">
                                            <div class="big-tagline">
                                                <h2 data-animation="animated zoomInRight"><strong>{{ annonces[2].titre}}</strong> {{ annonces[2].categorieType}}</h2>
                                                <p class="lead" data-animation="animated fadeInLeft">{{ annonces[2].description | u.truncate(50, '…')}}</p>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="{{ path('annonce.show', {id: annonces[2].id, slug: annonces[2].slug}) }}" class="hover-btn-new"><span>Read More</span></a>
                                            </div>
                                        </div>
                                    </div><!-- end row -->
                                </div><!-- end container -->
                            </div>
                        </div><!-- end section -->
                    </div>
                    <!-- Left Control -->
                    <a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <!-- Right Control -->
                    <a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <hr class="invis">
        </div>
    </div>

    <!-- timeline -->
    <div id="container">
        {% if timeline %}
            <style>
                *{margin: 0;padding: 0;}

                #container
                {
                    height: 300px;
                    width: 100%;
                    background-color: #ddd;
                    overflow: hidden;
                    position: relative;
                    #overflow-x: scroll;
                    margin-top: 30px;
                    display: inline-block;
                }

                #thumbs
                {
                    background-color: #ddd;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: auto;
                    overflow: hidden;
                    white-space: nowrap;
                    padding: 30px 100px;
                }

                .history-block {
                    height: 100%;
                    width: 300px;
                    background-color: #cdcdcd;
                    margin: 0 -2px;
                    border-right: 1px solid #fff;
                    display: inline-block;
                    font-family: 'roboto condensed', sans-serif;
                    font-size:60px;
                    font-weight: 100;
                    color: #FFF;
                    cursor: pointer;
                    box-shadow: 2px 5px 20px rgba(0,0,0,0.8);
                    transition: width 0.2s;
                }

                .history-block:last-of-type {
                    border-right: none;
                }

                .cover {
                    width: 100%;
                    height: 100%;
                    transition: background .5s;
                    background: rgba(0,0,0,0.8);
                }

                .cover:hover {
                    width: 100%;
                    height: 100%;
                    transition: background .5s;
                    background: rgba(0,0,0,0.8);
                }

                .year {
                    position: absolute;
                    top: 0px;
                    font-size: 18px;
                    font-weight:500;
                    margin: 40px 30px;
                }

                .title {
                    position: absolute;
                    display: block;
                    width: 260px;
                    top: 60px;
                    font-size: 15px;
                    margin: 30px;
                    white-space: normal;
                    transition: width 0.2s;
                }

                .timeline {
                    display:none;
                    position: absolute;
                    bottom: 80px;
                    font-size: 15px;
                    margin: 20px;
                    transition: display 0.8s;
                }

                .timeline ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    text-align: center;
                }

                .timeline ul li {
                    display: inline;
                    font-size: 15px;
                    font-weight: 100;
                    padding: 0px 5px;
                }

                .timeline ul li {
                    display: inline;
                    font-size: 15px;
                    font-weight: 100;
                    padding: 0px 5px;
                }

                .timeline ul li:before {
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    color: rgba(255,255,255,0.5);
                    content: '\f10c';
                    position: absolute;
                    top: 30px;
                    margin-left:10px;
                    transition: all 0.5s;
                }

                .timeline ul li:after {
                    content: '';
                    position: absolute;
                    top: 40px;
                    margin-left:-10px;
                    width: 36px;
                    height:2px;
                    border: 1px solid rgba(255,255,255,0.5);
                    transition: all 0.5s;
                }

                .timelineYear, .timelineYear:hover {
                    text-decoration: none;
                    color: #fff;
                    transition: all 0.8s;
                }

                .timeline ul li:hover:before {
                    content: '\f111';
                    color: #ffffff;
                    font-size: 18px;
                    transition: all 0.5s;
                    top: 29px;
                    margin-left:9px
                }

                .timeline ul li:hover:after {
                    content: '';
                    position: absolute;
                    top: 40px;
                    margin-left:-10px;
                    width: 36px;
                    height:2px;
                    border: 1px solid #fff;
                    transition: all 0.5s;
                }

                .timeline ul li:hover .timelineYear {
                    position: static;
                    top:-10px;
                }

                .bg-66 {
                    background:
                        {% for time in timeline %}
                            {% if time.filename %}
                                url({{ vich_uploader_asset(time, 'imageFile') }});
                            {% else %}
                                url('/images/annonces/empty.png');
                            {% endif %}
                        {% endfor %}
                    background-size:cover;
                }

            </style>
        {% endif %}
        <div id="thumbs" style="background-color: #ddd;">
            {% if timeline %}
                {% for time in timeline %}
                    <div class="history-block bg-66">
                        <div class="cover"></div>
                        <div class="year">
                            {% if time.dateDebut %}
                                {{ time.dateDebut |date("d/m/Y")}}
                            {% endif %}
                            {% if time.dateFin %}
                                - {{ time.dateFin |date("d/m/Y")}}
                            {% endif %}
                        </div>
                        <div class="title">{{ time.titre}}</div>
                        <div class="timeline">
                            {{ time.description | u.truncate(50, '…') }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


    <div id="overviews" class="section wb">
        <div class="container">
            <div style="background-color: #f2f3f5;">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <hr class="invis">
                        <h3>Annonces</h3>
                        <hr class="invis">
                    </div>
                </div><!-- end title -->
            </div>

            <div class="message-box">
                <h4 style="font-size: 25px;">Administration</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last1 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}

            </div>

            <div class="message-box">
                <h4 style="font-size: 25px;">Etudiant</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last2 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>

            <div class="message-box">
                <h4 style="font-size: 25px;">Manifestation</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last3 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>

            <div class="message-box">
                <h4 style="font-size: 25px;">Para-universitaire</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last4 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>
        </div><!-- end container -->
    </div><!-- end section -->


    <div class="section cl">
        <div class="container">
            <div class="row text-left stat-wrap">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-study"></i></span>
                    <p class="stat_count">12000</p>
                    <h3>Etudiants</h3>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-online"></i></span>
                    <p class="stat_count">240</p>
                    <h3>Filieres</h3>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-years"></i></span>
                    <p class="stat_count">55</p>
                    <h3>Ans</h3>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}