{% extends'base.html.twig' %}

{%  block title 'Accueil' %}

{% block body %}

    <body class="host_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="images/logo/logo-fstg.png" style="width: 200px" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Presentation </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{ path('about') }}">FSTG en bref </a>
                                <a class="dropdown-item" href="{{ path('motDoyen') }}">Mot du doyen </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Formation </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 1}) }}">TC </a>
                                <a class="dropdown-item" href="#">LST </a>
                                <a class="dropdown-item" href="#">Cycle </a>
                                <a class="dropdown-item" href="#">M </a>
                                <a class="dropdown-item" href="#">PHD </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Annonces </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 1}) }}">Administration </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 2}) }}">Etudiant </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 3}) }}">Manifestation </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 4}) }}">Para-universitaire </a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" style="height: 60%; margin-left: 20%; margin-right: 20%;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div id="home" class="first-section" style="background-image:
                {% if annonces[0].filename %}
                        url({{ vich_uploader_asset(annonces[0], 'imageFile') | imagine_filter('large') }});
                {% else %}
                        url('/images/annonces/empty.png');
                {% endif %}">
                    <div class="dtab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-right">
                                    <div class="big-tagline">
                                        <h2><strong>{{ annonces[0].titre}} </strong> {{ annonces[0].categorieType}}</h2>
                                        <p class="lead">{{ annonces[0].description | u.truncate(50, '…')}} </p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('annonce.show', {id: annonces[0].id, slug: annonces[0].slug}) }}" class="hover-btn-new"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end container -->
                    </div>
                </div><!-- end section -->
            </div>
            <div class="carousel-item">
                <div id="home" class="first-section" style="background-image:
                {% if annonces[1].filename %}
                        url({{ vich_uploader_asset(annonces[1], 'imageFile') | imagine_filter('large') }});
                {% else %}
                        url('/images/annonces/empty.png');
                {% endif %}">
                    <div class="dtab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-left">
                                    <div class="big-tagline">
                                        <h2 data-animation="animated zoomInRight">{{ annonces[1].titre}} <strong>{{ annonces[1].categorieType}}</strong></h2>
                                        <p class="lead" data-animation="animated fadeInLeft">{{ annonces[1].description | u.truncate(50, '…')}} </p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('annonce.show', {id: annonces[1].id, slug: annonces[1].slug}) }}" class="hover-btn-new"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end container -->
                    </div>
                </div><!-- end section -->
            </div>
            <div class="carousel-item">
                <div id="home" class="first-section" style="background-image:
                {% if annonces[2].filename %}
                        url({{ vich_uploader_asset(annonces[2], 'imageFile') | imagine_filter('large') }});
                {% else %}
                        url('/images/annonces/empty.png');
                {% endif %}">
                    <div class="dtab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <div class="big-tagline">
                                        <h2 data-animation="animated zoomInRight"><strong>{{ annonces[2].titre}}</strong> {{ annonces[2].categorieType}}</h2>
                                        <p class="lead" data-animation="animated fadeInLeft">{{ annonces[2].description | u.truncate(50, '…')}}</p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('annonce.show', {id: annonces[2].id, slug: annonces[2].slug}) }}" class="hover-btn-new"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end container -->
                    </div>
                </div><!-- end section -->
            </div>
            <!-- Left Control -->
            <a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About</h3>
                    <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
                </div>
            </div><!-- end title -->


            <div class="message-box">
                <h4>Administration</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last1 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>


            <div class="message-box">
                <h4>Etudiant</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last2 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>


            <div class="message-box">
                <h4>Manifestation</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last3 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>


            <div class="message-box">
                <h4>Para-universitaire</h4>
            </div><!-- end messagebox -->

            <div class="row align-items-center">
                {% for l in last4 %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-item">
                            <div class="image-blog">
                                {% if l.filename %}
                                    <img src="{{ vich_uploader_asset(l, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% else %}
                                    <img src="{{ '/images/annonces/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                                {% endif %}
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">{{ l.date |date("d/m/Y") }}</a> </span>
                                <span><i class="fa fa-tag"></i>  <a href="#">{{ l.categorieType }}</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}" title="">{{ l.titre }}</a></h2>
                            </div>
                            <div class="blog-desc">
                                <p>{{ l.description | u.truncate(25, '…')}} </p>
                            </div>
                            <div class="blog-button">
                                <a class="hover-btn-new orange" href="{{ path('annonce.show', {id: l.id, slug: l.slug}) }}"><span>Read More<span></a>
                            </div>
                        </div>
                    </div><!-- end col -->
                {% endfor %}
            </div>
        </div><!-- end container -->
    </div><!-- end section -->

    <!-- old timeline -->

    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>

    <div class="history-tl-container">
        <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history" style="background-image:
            {% if annonces[0].filename %}
                    url({{ vich_uploader_asset(annonces[0], 'imageFile') | imagine_filter('thumb') }});
            {% else %}
                    url('/images/annonces/empty.png');
                {% endif %}; border-radius: 15px 50px; border-bottom: 2px solid #86D6FF; border-right: 2px solid #86D6FF; filter: contrast(90%)">
                <div class="timestamp" style="font-size: 18px;">
                    3rd March 2015<br> 7:00 PM
                </div>
                <div class="item-title" style="font-size: 18px; border-bottom: 1px solid #86D6FF">Start from Shire</div> <br>
                <div class="item-detail" style="font-size: 16px; color: black;">Don't forgeg jfgggggg gggggggg gggggg gggggg ggggggg ggggggg jfjgkjd fksdjhfk ldfhdhfkjdft the ring</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history" style="background-image:
            {% if annonces[2].filename %}
                    url({{ vich_uploader_asset(annonces[2], 'imageFile') | imagine_filter('thumb') }});
            {% else %}
                    url('/images/annonces/empty.png');
                {% endif %}; border-radius: 15px 50px; border-bottom: 2px solid #86D6FF; border-right: 2px solid #86D6FF; filter: contrast(90%)">
                <div class="timestamp" style="font-size: 18px;">
                    19th March 2015<br> 3:00 PM
                </div>
                <div class="item-title" style="font-size: 18px; border-bottom: 1px solid #86D6FF">Kill some Orcs</div> <br>
                <div class="item-detail" style="font-size: 16px; color: black;">Don't enter the dfdnl kdsjfgkh sdmkghmk sdjhgmkhsdkg jhskjdhgkhd gkhkd ghkmjdfg kqdfmkghmkdfnghkmjdfgcaves!!</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history" style="background-image:
            {% if annonces[1].filename %}
                    url({{ vich_uploader_asset(annonces[1], 'imageFile') | imagine_filter('thumb') }});
            {% else %}
                    url('/images/annonces/empty.png');
                {% endif %}; border-radius: 15px 50px; border-bottom: 2px solid #86D6FF; border-right: 2px solid #86D6FF; filter: contrast(90%)">
                <div class="timestamp" style="font-size: 18px;">
                    1st June 2015<br> 7:00 PM
                </div>
                <div class="item-title" style="font-size: 18px; border-bottom: 1px solid #86D6FF">Throw that goddamn ring in the lava</div> <br>
                <div class="item-detail" style="font-size: 16px; color: black;">Also, thrbgkj ndfbknd mlfkngkdf glkdflk gldkf,gk,f glkdjg lks,df lksjdf sdfsdfg gdfgfdhfdhdfhhfow that Gollum too</div>
            </li>

        </ul>

    </div>



    <div class="section cl">
        <div class="container">
            <div class="row text-left stat-wrap">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-study"></i></span>
                    <p class="stat_count">12000</p>
                    <h3>Etudiants</h3>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-online"></i></span>
                    <p class="stat_count">240</p>
                    <h3>Filieres</h3>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-years"></i></span>
                    <p class="stat_count">55</p>
                    <h3>Ans</h3>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}