{% extends'base.html.twig' %}

{%  block title 'Gestion mot' %}

{% block body %}

    <div class="sidenav" id="mySidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" >×</a>
        <a href="{{ path('admin.annonce.index') }}">Annonce</a> <br>
        <a href="{{ path('admin.home.index') }}">Presentation de la FSTG</a> <br>
        <a href="{{ path('admin.mot.index') }}">Mot du Doyen</a> <br>
        <a href="{{ path('admin.alumni.index') }}">Alumni</a> <br>
        <a href="{{ path('admin.filiere.index') }}">Formation</a> <br>
    </div>


    <div class="sidenav" id="mySidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" >×</a>
        <a href="{{ path('admin.annonce.index') }}">Annonce</a> <br>
        <a href="{{ path('admin.home.index') }}">Presentation de la FSTG</a> <br>
        <a href="{{ path('admin.mot.index') }}">Mot du Doyen</a> <br>
        <a href="#">Alumni</a> <br>
        <a href="#">Formation</a> <br>
    </div>

    <div class="container mt-4">
        <div class="jumbotron text-center">
            <h1>Gérer mot</h1>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Quote</th>
                <th>Mot</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for mot in motD %}
                <tr>
                    <td>{{ mot.nom }}</td>
                    <td>{{ mot.quote }}</td>
                    <td>{{ mot.motD }}</td>
                    <td>
                        <a href="{{ path('admin.mot.edit', {id: mot.id}) }}" class="btn btn-secondary">Editer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr class="invis">
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "380px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>

{% endblock %}