{% extends'base.html.twig' %}

{%  block title 'Formations' %}

{% block body %}

    <body class="host_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="../images/logo/test1.png" style="width: 200px" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Presentation </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{ path('about') }}">FSTG en bref </a>
                                <a class="dropdown-item" href="{{ path('motDoyen') }}">Mot du doyen </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Formations </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 1}) }}">Tronc Commun</a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 2}) }}">LST</a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 3}) }}">Cycle d'ingenieur</a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 4}) }}">Master</a>
                                <a class="dropdown-item" href="{{ path('filieres', {categorie: 5}) }}">Doctorat</a>
                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Annonces </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 1}) }}">Administration </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 2}) }}">Etudiant </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 3}) }}">Manifestation </a>
                                <a class="dropdown-item" {% if current_menu is defined and current_menu == 'annonces' %} active {% endif %} href="{{ path('annonces', {categorie: 4}) }}">Para-universitaire </a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <div class="all-title-box" style="background-image: url('../images/logo/banner.jpg')">
        <div class="container text-center">
            {% if categorie == 1 %}
                <h1>Tronc Commun<span class="m_1">DEUST</span></h1>
            {% elseif categorie == 2 %}
                <h1>lst<span class="m_1">details</span></h1>
            {% elseif categorie == 3 %}
                <h1>ci<span class="m_1">details.</span></h1>
            {% elseif categorie == 4 %}
                <h1>m<span class="m_1">details</span></h1>
            {% elseif categorie == 5 %}
                <h1>phd<span class="m_1">details</span></h1>
            {% endif %}
        </div>
    </div>

    <div id="overviews" class="section wb">
        <div class="container">

            <div class="row">
                {% for filiere in filieres %}
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="course-item">
                        <div class="image-blog" style="border-top: 1px solid #4babb1; border-right: 1px solid #4babb1; border-left: 1px solid #4babb1;">
                            {% if filiere.filename %}
                                <img src="{{ vich_uploader_asset(filiere, 'imageFile') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                            {% else %}
                                <img src="{{ '/images/formations/empty.png' | imagine_filter('thumb') }}" alt="" class="img-fluid" style="width: 100%; height: 320px;">
                            {% endif %}
                        </div>
                        <div class="course-br">
                            <div class="course-title">
                                <h2><a href="{{ path('filiere.show', {id: filiere.id, slug: filiere.slug}) }}" title="">{{ filiere.nom }}</a></h2>
                            </div>
                            <div class="course-desc">
                                <p>Lorem ipsum door sit amet, fugiat deicata avise id cum, no quo maiorum intel ogrets geuiat operts elicata libere avisse id cumlegebat, liber regione eu sit.... </p>
                            </div>
                        </div>
                        <div class="course-meta-bot">
                            <ul>
                                <div class="blog-button">
                                    <a class="hover-btn-new orange" href="{{ path('filiere.show', {id: filiere.id, slug: filiere.slug}) }}"><span>Read More<span></a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div><!-- end col -->
                {% endfor %}
            </div><!-- end row -->

            <hr class="hr3">

        </div><!-- end container -->
    </div><!-- end section -->

    </body>
    </html>


{% endblock %}