{% extends'base.html.twig' %}

{%  block title 'Gestion des filieres' %}

{% block body %}

    <div class="sidenav" id="mySidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" >×</a>
        <a href="{{ path('admin.annonce.index') }}">Annonce</a> <br>
        <a href="{{ path('admin.home.index') }}">Presentation de la FSTG</a> <br>
        <a href="{{ path('admin.mot.index') }}">Mot du Doyen</a> <br>
        <a href="#">Alumni</a> <br>
        <a href="{{ path('admin.filiere.index') }}">Formation</a> <br>
    </div>

    <div class="container mt-4">
        <div class="jumbotron text-center">
            <h1>Gérer les filieres</h1>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>nom</th>
                <th>Categorie</th>
                <th>modules</th>
                <th>nom resp</th>
                <th>email resp</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for filiere in filieres %}
                <tr>
                    <td>{{ filiere.nom }}</td>
                    <td>{{ filiere.categorieType }}</td>
                    <td>{{ filiere.modules | u.truncate(25, '…')}}</td>
                    <td>{{ filiere.nomresp }}</td>
                    <td>{{ filiere.emailresp }}</td>
                    <td>
                        <a href="{{ path('admin.filiere.edit', {id: filiere.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.filiere.delete', {id: filiere.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous sur ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ filiere.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.filiere.new') }}" class="btn btn-primary">Creer une nouvelle filiere</a>
        </div>
        <hr class="invis">
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "380px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>




{% endblock %}