{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <div class="sidenav" style="width: 380px !important; top: 0 !important;">
                <a href="{{ path('admin.annonce.index') }}">Annonce</a> <br>
                <a href="{{ path('admin.home.index') }}">Presentation de la FSTG</a> <br>
                <a href="{{ path('admin.mot.index') }}">Mot du Doyen</a> <br>
                <a href="{{ path('admin.alumni.index') }}">Alumni</a> <br>
                <a href="{{ path('admin.filiere.index') }}">Formation</a> <br>
                <br>
            </div>
        </div>
        <div class="col-md-8">
            <img src="images/logo/logo-fstg.png" style="margin-top: 18%; margin-left: 20%; margin-bottom: 12%; width: 500px; height: 200px;" />
        </div>
    </div>

{% endblock %}



