{% extends'base.html.twig' %}

{%  block title 'Editer les annonces' %}

{% block body %}

    <div class="container mt-4">
        <div class="jumbotron text-center">
            <h1>Editer les annonces</h1>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.categorie) }}</div>
            <div class="col-md-6">{{ form_row(form.imageFile) }}</div>
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-primary">Editer</button>
        {{ form_end(form) }}
    </div>



{% endblock %}