{% extends 'base.html.twig' %}

{% block title 'Creer une nvl annonce' %}

{% block body %}

    <div class="sidenav" id="mySidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" >×</a>
        <a href="{{ path('admin.annonce.index') }}">Annonce</a> <br>
        <a href="{{ path('admin.home.index') }}">Presentation de la FSTG</a> <br>
        <a href="{{ path('admin.mot.index') }}">Mot du Doyen</a> <br>
        <a href="{{ path('admin.alumni.index') }}">Alumni</a> <br>
        <a href="{{ path('admin.filiere.index') }}">Formation</a> <br>
    </div>

    <div class="container mt-4" style="width: 60%">
        <div class="jumbotron text-center">
            <h1>Creer une annonce</h1>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">{{ form_row(form.titre) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(form.categorie) }}</div>
            <div class="col-md-3">{{ form_row(form.statut) }}</div>
            <div class="col-md-3">{{ form_row(form.imageFile) }}</div>
        </div>
        <div class="row">
            <div class="col-md-9">{{ form_row(form.description) }}</div>
            <div class="col-md-3">{{ form_row(form.pdfFile) }}</div>
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-primary">Creer</button>
        {{ form_end(form) }}
        <hr class="invis">
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "380px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>

{% endblock %}



